{% extends 'base.html' %}
{% load static %}
{% block title_name %}Книжный Магазин{% endblock %}

{% block link_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
{% endblock %}

{% block content %}
<h1>Книжный Магазин</h1>
<p><em>«Читай больше — живи ярче!»</em></p>

<h2>О нас</h2>
<p>Добро пожаловать в наш книжный магазин! Мы предлагаем широкий выбор книг на любой вкус — от классики до новинок современной литературы.</p>

<p>Наша цель — сделать чтение доступным и увлекательным для всех. Мы работаем напрямую с издателями, чтобы предложить вам лучшие цены и качественные издания.</p>

<p>Откройте для себя мир книг вместе с нами!</p>
{% endblock %}
